@import "tailwindcss";

/* font settings */
@font-face {
  font-family: CabinetGrotesk;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/CabinetGrotesk-Variable.woff2") format("woff2");
}

/* theme settings */
@theme {
  --font-display: "CabinetGrotesk", "sans-serif";

  --text-small: 0.8rem;
  --text-base: 1.1rem;
  --text-large: 1.4rem;

  --text-title: 3rem;
  --text-subtitle: 2rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-foreground: var(--color-rose-600);
  --primary-background: var(--color-rose-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary-background: var(--primary-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
